.List {
  display: flex;
  justify-content: center;
}

.close {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
